@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-primary {
    color: #FD6E0A;
}

.header {
    background-color:#f9f3ee;
    padding-top: 30px;
}
nav {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 60px;
}

nav li a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
}

/* banner styling stage */
.banner {
   display: flex;
   justify-content: space-between;
   background: url("../images/header_bg.png") no-repeat bottom right;
   /* background-size: 500px; */
} 

.greeting {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}

.banner-content {
    max-width: 580px;
    padding: 130px 30px 30px 120px;

}

.banner-para {
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    padding: 30px 0px;
}

.banner-img {
    width: 500px;
    padding-right: 40px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;

}

.banner img {
    width: 500px;
    height: 600px;
    margin-bottom: -6px;
}


.downbtn {
    margin-right: 25px;
}